CompileFlags:
  CompilationDatabase: build/
  Remove:
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -mlongcalls
    - -fno-shrink-wrap
    - -fno-malloc-dce
    - -fzero-init-padding-bits=all

InlayHints:
  Enabled: true

Index:
  Background: Build
